.experience-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
}

/* ipad */

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .experience-page {
    height: auto;
  }

  .experience-page h2 {
    font-size: 3rem;
  }
}
