.wave {
  margin-top: -4rem;
}

.experience-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
}

.experience-page h2 {
  margin-top: 2rem;
}
/* ipad */

@media only screen and (min-device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  .experience-page {
    height: auto;
  }

  .experience-page h2 {
    font-size: 3rem;
  }
}

@media only screen and (min-device-width: 815px) and (-webkit-min-device-pixel-ratio: 1) {
 .wave{
   margin-top: -6rem;
 }
}