section {
  height: 100vh;
}
.header {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  height: 100%;
}

h1 {
  font-size: 3rem;
  margin-bottom: .5rem;
}

p{
  margin: 0;
  font-size: 1.5rem;
}

button {
  margin-top: 2rem;
  display: block;
}

.headshot {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 90vw;
  right:0;
}
.headshot img {
  float: right;
  max-width: 100%;
  max-height: 100%;
}
