@font-face {
  font-family: Montserrat;
src: url('./fonts/Montserrat/Montserrat-Light.ttf')
       
}

html {
  background-color: #f0e3e3;
}

html,
body {
  position: relative;
  overflow-x: hidden;
  font-family: Montserrat;
}
